

body {
    background-color: rgb(255, 255, 255);
}


* {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 17px;
}

nav {
    width: 100%;
    display: flex;
    background-color: rgb(243, 243, 243);
    height: 90px;
    position: fixed;
    box-shadow: 0px 4px 10px 2px rgb(70, 70, 70);
    border-bottom: 2px solid rgb(182, 181, 181) ;
    margin-top: -100px;
    z-index: 1;
}

 .nav__container {
    width: 90%;
    display: flex;
    height: 90px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.nav__container img {
    width: 80px;
    height: 80px;
    margin: auto 0;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content:center;
    align-content: center;
    flex: 1;
}

.menu-horizontal li {
    padding: 40px;
}

.menu-horizontal > li > a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.menu-horizontal > li > a:hover {
    background-color: #dfdfdf;
    border-radius: 5px;
}

.menu-vertical {
    position: absolute;
    display: none;  
    list-style: none;
    padding: 10px 0;
    background: linear-gradient(to bottom, #f1f1f1, #a3a3a3) ;
    border-radius: 5px;
    box-shadow:  0px 3px 3px 0px rgb(53, 53, 53) ;
    width: 180px;
    text-align: center;
}

.menu-vertical li {
    padding: 10px;
    width: 100%;
    margin: 5px 0;
}

.menu-vertical li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.menu-horizontal > li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #7a7a7a;
}

.menu-vertical-2 {
    position: absolute;
    display: none;  
    list-style: none;
    padding: 10px 0;
    background: linear-gradient(to bottom, #f1f1f1, #a3a3a3) ;
    border-radius: 5px;
    box-shadow:  0px 3px 3px 0px rgb(53, 53, 53) ;
    width: 180px;
    text-align: center;
    margin-left: -45px;
}

.menu-vertical-2 li {
    padding: 10px;
    width: 100%;
    margin: 5px 0;
}

.menu-vertical-2 li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.menu-horizontal > li:hover .menu-vertical-2 {
    display: block;
}

.menu-vertical-2 li:hover {
    background-color: #7a7a7a;
}



.menu-vertical- {
    position: absolute;
    display: none;  
    list-style: none;
    padding: 10px 0;
    background: linear-gradient(to bottom, #f1f1f1, #a3a3a3) ;
    border-radius: 5px;
    box-shadow:  0px 3px 3px 0px rgb(53, 53, 53) ;
    width: 180px;
    text-align: center;
    margin-left: -25px;
}

.menu-vertical- li {
    padding: 10px;
    width: 100%;
    margin: 5px 0;
}

.menu-vertical- li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.menu-horizontal  li:hover .menu-vertical- {
    display: block;
}

.menu-vertical- li:hover {
    background-color: #7a7a7a;
}

.menu-registrate {
    list-style: none;
}

.menu-registrate > li > a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(245, 47, 96);
    border-radius: 5px;
    font-weight: 600;
    padding: 15px 5px;

}

.menu-registrate li a:hover {
    background-color: rgb(255, 75, 120);
}

.menu-registrate > li:hover .menu-inicia {
    display: block;
}

.menu-inicia {
    position: absolute;
    display: none;  
    list-style: none;
    border-radius: 5px;
    font-weight: 600;
    padding-top: 30px; 
    text-align: center;
    margin-left: -10px;
}

.menu-inicia li a {
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(245, 47, 96);
    border-radius: 5px;
    padding: 15px 5px; 
}

.menu-inicia li a:hover {
    background-color: rgb(255, 75, 120);
}

.home-caja {
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto 0;
    height: 100%;
}

.home-caja a {
    text-decoration: none;  
    background-color: #dddddd;
    border-radius: 5px;
    padding: 12px;
}

.home span {
    color: rgb(20,20,20);   
    font-weight: 700; 
    font-size: 18px;
    align-items: center;
}

.home i {
    color: rgb(20, 20, 20);
    font-size: 25px;
} 
 
 
.home:hover {
     background-color: rgb(175, 175, 175); 
}
  

.nav__menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 6px;
}
    




/* contenido del sitio */

.contenedor__background {
    background-repeat: no-repeat; 
    background-size: cover ;
    background-attachment: fixed;
    background-color: #ffffff;
    border-bottom: #3a3a3a solid 1px;
}

.caja__contenedor{
    margin-top: 100px;
    display: flex;
    width: 100%;
}

.contenedor__section-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4px;
    padding-bottom: 25px;   
    background-color: rgb(208, 211, 235);

}

.section-1__h1 {
    text-align: center;
    padding: 5px 0px;
}

.section-1__img {
    text-align: center;
    width: 1180px;
    margin: 0px auto;
}

.section-1__p {
    padding: 30px 0px;
    width: 80%;
    margin: 0px auto;
    text-align: left;
}


.contenedor__section-2 {
    width: 100%;
    background-color: #252525;
    padding: 20px 0px;
    color: #fff;
}

.section-2__titulo {
    width: 500px;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

.section-2__titulo h2 {
    font-size: 22px;
}

.section-2__contenido {
    width: 80%;
    display: flex;
    margin: 0px auto;
    outline: rgb(243, 243, 243) solid 1px;
    justify-content: space-between;
    padding: 6px ;
}

.section-2__contenido h3 {
    text-align: center;
    padding: 4px;
}

.section-2__contenido p {
    padding: 5px 0px;
    text-align: left;
}

.section-2__contenido-2 {
    padding: 0px 20px; 
}



/* Footer de la pagina  */
.contenedor__footer {
    width: 100%;
    background-color: #000; 
    padding: 50px 0px;
} 

.footer__superior {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-around;
}

.footer__superior div {
    text-align: center;
    height: 100%;
}

/* FOOTER MAS INFOR */
.footer__infor {
    width: 200px;
}

.footer__infor li {
    list-style:inside;
    padding-bottom: 4px;
}

.footer__infor h3 {
    font-size: 25px;
    color: rgb(237, 36, 85);
    text-align: center;
}

.footer__infor a {
     color: rgb(255, 255, 255); 
}

.footer__infor ul {
    color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
}

.footer__infor a:hover {
    color: #b3b3b3;
}

.footer__infor li:hover {
    color: #b3b3b3;
}



/* FOOTER AGRADECIMIENTO */
.footer__superior-1 {
    width: 300px;
}

.footer__superior-1 h3 {
    color: rgb(237, 36, 85);
    font-size: 25px;
}

.footer__superior-1 p {
    text-align: center;
    padding: 8px;
    color: #ffffff;
}

/* footer redes */
.footer__redes {
    width: 200px;
}

.footer__redes h3 {
    font-size: 25px;
    color: rgb(237, 36, 85);
}

.footer__icon {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin-top: 15px;
}

.footer__icon a {
    color: rgb(255, 255, 255) ;
}

.footer__icon i {
    font-size:  25px;
    padding-bottom: 10px;
}

.footer__icon i:hover {
    color: #b3b3b3;
}



/* footer copy */
.footer__inferior {
    display: flex;
    width: 100%;
    border-top:#dfdfdf solid 1px;
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
}

.footer__inferior div {
    margin: 0 30px;
}

.footer__copy {
    font-size: 13px;
    color: #c7c7c7;
}

.footer__cyp {
    display: flex;
}

.footer__cyp a {
    font-size: 13px;
    color: #c7c7c7;
}


.footer__cyp li {
    color: #c7c7c7;
    margin: 0 20px;
}

.footer__cyp li:hover {
    color: #fff;
}

.footer__cyp a:hover {
    color: #fff;
}   
